@{
    ViewBag.Title = "tkglaser.net - examples and demos";
}

<div class="page-header">
    <h1><a href="http://www.tkglaser.net">www.tkglaser.net</a> <small>Examples and demos</small></h1>
    <p>All examples and demos from the blog. Select a demo below.</p>
</div>


<h3>Conway 3D</h3>
<p>TBC</p>
<a href="@Url.Action("Index", "Conway3D")" class="btn btn-primary">
    Demo
</a>
<a href="http://www.tkglaser.net" class="btn btn-success">
    Read blog post
</a>
<hr/>

<h3>Twitter Feed in the Layout</h3>
<p>TBC</p>
<a href="@Url.Action("Index", "TwitterLayout")" class="btn btn-primary">
    Demo
</a>
<a href="http://www.tkglaser.net" class="btn btn-success">
    Read blog post
</a>
<hr/>

<h3>A Simple Twitter Feed in MVC 4 Using The RESTful Twitter API <span class="badge">07/12/2012</span></h3>
<p>Tutorial for integrating a Twitter Feed in ASP MVC 4 using the RESTful Twitter API</p>
<a href="@Url.Action("Index", "TwitterFeed")" class="btn btn-primary">
    Demo
</a>
<a href="http://www.tkglaser.net/2012/12/a-simple-twitter-feed-in-mvc-4-using.html" class="btn btn-success">
    Read blog post
</a>
<hr/>

<h3>Waiting spinner for long-running form submits in ASP MVC 3 Razor using jQuery <span class="badge">21/02/2012</span></h3>
<p>Add a waiting animation to a long running form submit</p>
<a href="@Url.Action("Index", "Spinner")" class="btn btn-primary">
    Demo
</a>
<a href="http://www.tkglaser.net/2012/02/waiting-spinner-for-long-running-form.html" class="btn btn-success">
    Read blog post
</a>
<hr/>

<h3>Phone number validation in MVC 3 <span class="badge">14/02/2012</span></h3>
<p>If your web application relies on properly entered phone numbers, this might be interesting. 
    This post shows step by step how to use Google's libphonenumber to validate phone numbers in your 
    MVC 3 application.</p>
<a href="@Url.Action("Index", "PhoneValidation")" class="btn btn-primary">
    Demo
</a>
<a href="http://www.tkglaser.net/2012/02/phone-number-validation-in-mvc-3.html" class="btn btn-success">
    Read blog post
</a>

