<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29021529-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    @Scripts.Render("~/bundles/modernizr")
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="@Url.Action("Index", "Home")">tkglaser</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="@Url.Action("Index", "Home")"><i class="icon-home icon-white"></i> Demos Home</a></li>
              <li><a href="http://www.tkglaser.net"><i class="icon-pencil icon-white"></i> View Blog</a></li>
              <li><a href="http://github.com/tkglaser/demos"><i class="icon-globe icon-white"></i> View Source on GitHub</a>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    
        <table style="width:100%">
            <tr>
                <td style="vertical-align:top">@RenderBody()</td>
                <td style="width:160px; vertical-align:top; padding-top:20px" class="hidden-phone">
                    <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-9786241463314832";
                    /* RightSidebar */
                    google_ad_slot = "8111728209";
                    google_ad_width = 160;
                    google_ad_height = 600;
                    //-->
                    </script>
                    <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </td>
            </tr>
        </table>
    </div> <!-- /container -->

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)

  </body>
</html>
